/* body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dt,dd,input,div,span,img,select,i,ins */
/* , hgroup */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    list-style: none;
    background: transparent;
    font-family: "微软雅黑","宋体",sans-serif;
    box-sizing: border-box;
}
/* *{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
} */
img,select{
	border: 0;
	/*ie中img蓝色边框去掉*/
	vertical-align: middle;
}
a,ins{
	text-decoration: none;
}
i,b{
	font-style: normal;
}
body{
	background: #fff;
}
em, strong, th {
	font-style: normal;
	font-weight: normal;
}
img,a{
	display: block;
}
i{
	font-family: "iconfont";
	display: inline-block;
}
.clear{
    content: "";
    display: block;
    clear: both;
}
.chuangKou{
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}