.top{
    width: 100%;
    height: 1.71rem !important;
    overflow: hidden;
    /*background: url("../img/");*/
    background-size: cover;
    background: url("../img/timg1.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.top_tu{
    width: .55rem;
    height: .55rem;
    background: #fff;
    border-radius: 50%;
    margin: .53rem auto .06rem;
    text-align: center;
    line-height: .60rem;
}
.icon-gerenzhongxin{
    font-size: .50rem !important;
    color: #F0ECEC;
}
.icon-xinfeng1{
    position: absolute;
    top: .15rem;
    right: .15rem;
    color: #fff;
}
.top span{
    font-size: .14rem;
    color: #fff;

    line-height: .14rem;
}
.item{
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: .1rem;
}
.item .item_lis{
    width: 100%;
    height: .42rem;
    overflow: hidden;
}
.item .item_lis .left{
    width: .45rem;
    height: 100%;
    float: left;
    text-align: center;
    line-height: .44rem;
    color: #939597;
}

.item .item_lis .right{
    width: calc(100% - .45rem);
    height: 100%;
    font-size: .14rem;
    line-height: .42rem;
    color: #797979;
    float: left;
    border-bottom: .01rem solid #F6F8FA;
}
.item .last .right{
    border: 0;
}
